body {
    background-color: rgb(211, 139, 5);
    color: white;
    font-weight: bold;
    font-family: 'Chivo Mono';

}
.container {
    display: grid;
    place-items: center;
    row-gap: 20px;
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 18, 18);
    width: 40em;
    padding: 5px 10px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgba(19, 19, 19, 0.76);;
    /* padding-top: 30px; */
}

.video {
    width: 80vh;
    height: 50vh;
}